<div class="container-fluid">
  <div class="col-lg-4" id="clock"></div>   
  <div class="col-lg-4">test</div>   
  <div class="col-lg-4" id="date"></div>  
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6">
      Weather
    </div>  
    <div class="col-lg-6">
      tests again
    </div>      
  </div>
</div>  